<div id="<%= dom_id reservationtable %>">
  <p>
    <strong>People:</strong>
    <%= reservationtable.people %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= reservationtable.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reservationtable.phone %>
  </p>
  
  <p>
    <strong>Date and Time:</strong>
    <%= reservationtable.rsvptime %>
  </p>
</div>
